In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

sns.set(style='white')

In [2]:
titan = pd.read_csv('Dataset/titanic/train.csv')
iris = pd.read_csv('Dataset/iris/Iris.csv')
flight = sns.load_dataset('flights')

In [6]:
flight.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121